################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/MattoControllers/FileContentIndex
/.vs/MattoControllers/v17/.wsuo
/.vs/VSWorkspaceState.json
